<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="بوت‌کمپ‌های تخصصی حوزه معدن و صنایع معدنی، آموزش تئوری و عملی بر مبنای نیاز بازار و صنعت"
    />
    <meta name="keywords" content="کانی بوم, شتابدهنده, سازندگاه, معدن" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>سازندگاه کسب و کارهای نوآورانه کانی بوم | رویداد‌ها</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="../img/logo/logo_kaniboom_ficon.jpg" />
    <link rel="apple-touch-icon" href="../img/logo/logo_kaniboom_ficon.jpg" />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="../img/logo/logo_kaniboom_ficon.jpg"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="../img/logo/logo_kaniboom_ficon.jpg"
    />

    <!-- Styles -->
    <link href="../css/style.css" rel="stylesheet" media="screen" />
  </head>
  <body>
    <!-- Loader -->
    <div class="loader">
      <div class="page-lines">
        <div class="container">
          <div class="col-line col-xs-4">
            <div class="line"></div>
          </div>
          <div class="col-line col-xs-4">
            <div class="line"></div>
          </div>
          <div class="col-line col-xs-4">
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
      </div>
      <div class="loader-brand">
        <div class="sk-folding-cube">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
        </div>
      </div>
    </div>

    <!-- Header -->
    <header id="top" class="header-inner">
      <div class="brand-panel" style="background: none">
        <a href="#top" class="brand js-target-scroll hidden-xs hidden-sm">
          <img src="../img/logo/logo_kaniboom.png" />
        </a>
        <a href="#top" class="brand js-target-scroll hidden-md hidden-lg">
          <img src="../img/logo/logo_kaniboom.png" />
        </a>
      </div>

      <nav class="navbar-desctop visible-md visible-lg">
        <div class="container">
          <a href="#top" class="brand js-target-scroll">
            <img src="../img/logo/logo_kaniboom.png" />
          </a>
          <ul class="nav navbar-desctop-menu">
            <li>
              <a href="/">صفحه اصلی</a>
            </li>
            <li>
              <a href="/about">درباره ما</a>
            </li>
            <li class="active">
              <a href="/events">رویدادها</a>
            </li>
            <li>
              <a href="/kanicamp">کانی بوم آکادمی</a>
              <ul>
                <li>
                  <a href="/kanicamp">کانی‌کمپ</a>
                </li>
                <li>
                  <a href="/boomcamp">بوم‌کمپ</a>
                </li>
                <!-- <li>
                  <a href="/">کانی کورس</a>
                </li>
                <li>
                  <a href="/kaniamoz">کانی آموز</a>
                </li> -->
              </ul>
            </li>
            <li>
              <a href="/news">اخبار</a>
            </li>
            <li>
              <a href="/register">ارسال طرح و ایده</a>
            </li>
            <!-- <li>
              <a href="/">تماس با ما</a>
            </li> -->
          </ul>
        </div>
      </nav>

      <!-- Navigation Mobile -->

      <nav class="nav navbar-mobile">
        <a href="#top" class="brand js-target-scroll">
          <img src="../img/logo/logo_kaniboom.png" />
        </a>

        <!-- Navbar Collapse -->

        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#navbar-mobile"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-mobile">
          <ul class="navbar-nav-mobile">
            <li>
              <a href="/">صفحه اصلی</a>
            </li>
            <li>
              <a href="/about">درباره ما</a>
            </li>
            <li class="active">
              <a href="/events">رویدادها</a>
            </li>
            <li>
              <a href="/kanicamp">کانی بوم آکادمی</a>
              <ul>
                <li>
                  <a href="/kanicamp">کانی‌کمپ</a>
                </li>
                <li>
                  <a href="/boomcamp">بوم‌کمپ</a>
                </li>
                <!-- <li>
                  <a href="/">کانی کورس</a>
                </li>
                <li>
                  <a href="/kaniamoz">کانی آموز</a>
                </li> -->
              </ul>
            </li>
            <li>
              <a href="/news">اخبار</a>
            </li>
            <li>
              <a href="/register">ارسال طرح و ایده</a>
            </li>
            <!-- <li>
              <a href="/">تماس با ما</a>
            </li> -->
          </ul>
        </div>
      </nav>
    </header>

    <!-- Layout -->

    <div class="layout">
      <main
        class="main main-inner bg-projects"
        data-stellar-background-ratio="0.6"
        style="
          background-position: 50% 0px;
          background: url(img/bg/event.jpg) 50% 0 no-repeat;
          background-size: cover;
        "
      >
        <div class="container">
          <header class="main-header text-center">
            <!-- <img
              src="../img/logo/logo_kanicamp.png"
              style="width: 200px; margin-bottom: 30px"
            /> -->
            <h1>
              <span class="text-primary"> رویدادها </span>
            </h1>
            <br /><br />
            <!-- <h1>
              <span
                class="text-primary"
                style="display: block; padding-bottom: 20px"
              >
                بوت‌کمپ‌های تخصصی حوزه معدن و صنایع معدنی
              </span>
              آموزش تئوری و عملی بر مبنای نیاز بازار و صنعت
            </h1> -->
          </header>
        </div>

        <div class="page-lines">
          <div class="container">
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </main>
      <div class="content">
        <section class="blog-list">
          <div class="container">
            
          </article>
          <% if(contents.length > 0) { %>
            <% contents?.map((i, index) => { %>
              <article class="blog">
                <div class="row">
                  <div class="blog-thumbnail col-md-8">
                    <a href="/news/<%= i.name %>">
                      ><div
                        class="blog-thumbnail-bg col-md-8 visible-md visible-lg"
                        style="
                          background-image: url(<%= BASE_URL + "/kb-api/contents/imgs/" + i.preview[0]?.img %>);
                          background-size: contain;
                          background-position: 50% 30%;
  
                          background-repeat: no-repeat;
                          background-color: #fff;
                        "
                      ></div
                    ></a>
                    <div class="blog-thumbnail-img visible-xs visible-sm">
                      <a href="/news/<%= i.name %>">
                        <img
                          alt="نمایشگاه اختصاصی صنعت معدن پارک پردیس"
                          class="img-responsive"
                          src="<%= BASE_URL + "/kb-api/contents/imgs/" + i.preview[0]?.img %>"
                        />
                      </a>
                    </div>
                  </div>
                  <div class="blog-info col-md-4" style="direction: rtl">
                    <h3 class="blog-title text-justify text-primary">
                      <a href="/news/<%= i.name %>">
                        <%= i.preview[0]?.title %>
                      </a>
                    </h3>
                    <br />
                    <p class="text-justify">
                      <%= i.preview[0]?.description %>
                    </p>
                    <br />
                    <div class="blog-meta"></div>
                    <div class="text-right">
                      <a href="/news/<%= i.name %>">
                        >اطلاعات بیشتر</a
                      >
                    </div>
                  </div>
                </div>
              </article>
              <% }) %>
              <% } else {null} %>
            <article class="blog">
              <div class="row">
                <div class="blog-thumbnail col-md-8">
                  <a href="/events/sadaf"
                    ><div
                      class="blog-thumbnail-bg col-md-8 visible-md visible-lg"
                      style="
                        background-image: url(../img/2th/slide-sadaf.jpg);
                        background-position: 50% 30%;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-color: #fff;
                      "
                    ></div
                  ></a>
                  <div class="blog-thumbnail-img visible-xs visible-sm">
                    <a href="/events/sadaf">
                      <img
                        alt="طرح صدف"
                        class="img-responsive"
                        src="../img/2th/slide-sadaf.jpg"
                      />
                    </a>
                  </div>
                </div>
                <div class="blog-info col-md-4" style="direction: rtl">
                  <h3 class="blog-title text-justify text-primary">
                    <a href="/events/sadaf">
                      <span>طرح صدف</span>
                      <br />
                      <br />
                      پنجمین دوره طرح توانمند سازی صدف
                    </a>
                  </h3>
                  <p class="text-justify">
                    طرح توانمندسازی صدف، با هدف ایجاد انگیزه و توانمندسازی شغلی
                    و مهارتی دانشجویان و فارغ‌التحصیلان دانشگاهی به‌ منظور کمک
                    به نقش‌آفرینی آن‌ها در اکوسیستم فناوری و نوآوری و طراحی مسیر
                    آینده حرفه‌ای و شغلی بر اساس استعدادها و ویژگی‌های هر فرد در
                    جهت تسهیل ورود ایشان به بازار کار (زیست‌بوم کسب‌وکار) برگزار
                    می گردد. <br />
                    <br />
                    <span class="text-primary"
                      >مهر تا آذر ۱۴۰۳ – در حال ثبت‌نام</span
                    >
                  </p>
                  <div class="blog-meta"></div>
                  <div class="text-right">
                    <a href="/events/sadaf" class="read-more">اطلاعات بیشتر</a>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <br /><br /><br />
          <div class="container">
            <article class="blog">
              <div class="row">
                <div class="blog-thumbnail col-md-8">
                  <a href="/events/sadaf-yazd-mine"
                    ><div
                      class="blog-thumbnail-bg col-md-8 visible-md visible-lg"
                    ></div
                  ></a>
                  <div class="blog-thumbnail-img visible-xs visible-sm">
                    <a href="/events/sadaf-yazd-mine">
                      <!-- <img
                        alt="طرح صدف"
                        class="img-responsive"
                        src="../img/slider/mine.jpg"
                      /> -->
                    </a>
                  </div>
                </div>
                <div class="blog-info col-md-4" style="direction: rtl">
                  <h3 class="blog-title text-justify text-primary">
                    <a href="/events/sadaf-yazd-mine">
                      <span>طرح صدف معدن</span>
                      <br />
                      <br />
                      ویژه علاقه‌مندان به فعالیت در حوزه معدن و صنایع معدنی
                    </a>
                  </h3>
                  <p class="text-justify">
                    آموزش مهارت‌های نرم مورد نیاز برای فعالیت در صنعت معدن با
                    حمایت معاونت علمی، فناوری و اقتصاد دانش بنیان ریاست جمهوری و
                    پارک فناوری پردیس و با همکاری شرکت سنگ آهن مرکزی ایران و
                    شتابدهنده کانی بوم برگزار می‌شود.
                    <br />
                    <br />
                    <span class="text-primary"
                      >مهر تا آذر ۱۴۰۳ – در حال ثبت‌نام</span
                    >
                  </p>
                  <div class="blog-meta"></div>
                  <div class="text-right">
                    <a href="/events/sadaf-yazd-mine" class="read-more"
                      >اطلاعات بیشتر</a
                    >
                  </div>
                </div>
              </div>
            </article>
          </div>
          <br /><br /><br />
          <div class="container">
            <article class="blog">
              <div class="row">
                <div class="blog-thumbnail col-md-8">
                  <a href="#"
                    ><div
                      class="blog-thumbnail-bg col-md-8 visible-md visible-lg"
                      style="
                        background-image: url(../img/slider/mine.jpg);
                        background-size: contain;
                        background-position: 50% 30%;

                        background-repeat: no-repeat;
                        background-color: #5aa0dc;
                      "
                    ></div
                  ></a>
                  <div class="blog-thumbnail-img visible-xs visible-sm">
                    <a href="/events/mine-expo">
                      <img
                        alt="نمایشگاه اختصاصی صنعت معدن پارک پردیس"
                        class="img-responsive"
                        src="../img/slider/mine.jpg"
                      />
                    </a>
                  </div>
                </div>
                <div class="blog-info col-md-4" style="direction: rtl">
                  <h3 class="blog-title text-justify text-primary">
                    <a href="/events/mine-expo">
                      نمایشگاه اختصاصی صنعت معدن پارک فناوری پردیس
                    </a>
                  </h3>
                  <br />
                  <p class="text-justify">
                    فراخوان دعوت به شرکت در نمایشگاه اختصاصی صنعت معدن پارک
                    فناوری پردیس اداره‌کل سرمایه‌گذاری و بومی‌سازی پارک فناوری
                    پردیس با همکاری شرکت کانی‌ بوم نمایشگاه اختصاصی صنعت معدن را
                    برگزار می‌کند.
                    <!-- <span class="text-primary"
                      >مهر تا آذر ۱۴۰۳ – در حال ثبت‌نام</span
                    > -->
                  </p>
                  <br />
                  <div class="blog-meta"></div>
                  <div class="text-right">
                    <a href="/events/mine-expo" class="read-more"
                      >اطلاعات بیشتر</a
                    >
                  </div>
                </div>
              </div>
            </article>
          </div>
        </section>

        <!-- Footer -->

        <footer id="footer" class="footer">
          <div class="container">
            <div class="row-base row">
              <div class="col-base text-left-md col-md-4">
                <a href="#" class="brand">
                  <img src="../img/logo/logo_kaniboom.png" />
                </a>
              </div>
              <div class="text-center-md col-base col-md-4">
                <a href="tel:09387536548" class="author-link">
                  طراحی وب سایت توسط کانی بوم
                </a>
              </div>
              <div
                class="text-right-md col-base col-md-4"
                style="direction: rtl"
              >
                © کلیه حقوق وب سایت متعلق به سازندگاه کسب‌وکارهای نوآورانه کانی
                بوم می باشد.
              </div>
            </div>
          </div>
        </footer>

        <div class="page-lines">
          <div class="container">
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SCRIPTS -->

    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/smoothscroll.js"></script>
    <script src="../js/jquery.validate.min.js"></script>
    <script src="../js/wow.min.js"></script>
    <script src="../js/jquery.stellar.min.js"></script>
    <script src="../js/jquery.magnific-popup.js"></script>
    <script src="../js/owl.carousel.min.js"></script>

    <!-- SLIDER REVOLUTION -->
    <script src="../js/rev-slider/jquery.themepunch.tools.min.js"></script>
    <script src="../js/rev-slider/jquery.themepunch.revolution.min.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS   -->
    <script src="../js/rev-slider/revolution.extension.actions.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.carousel.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.kenburn.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.layeranimation.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.migration.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.navigation.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.parallax.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.slideanims.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.video.min.js"></script>
    <script src="../js/interface.js"></script>
  </body>
</html>
